 body {
 	max-width: 1519px;
 }

 .top {
 	font-family: Arial, Helvetica, sans-serif;

 }

 .block {
 	background: url('..//src/[PLACEHOLDER\ LOGO].png') 720px 200px no-repeat, url('..//src/Desktop_Backgrounds_1920x1200_6\ 3.png') 0 0/100% no-repeat;
 	width: 100%;
 	position: absolute;
 	width: 1519px;
 	height: 600px;
 	left: 0px;
 	top: 0px;
 }

 h1 {
 	position: absolute;
 	left: 152px;
 	top: 45px;
 	color: white;

 }

 .list {
 	margin: 0;
 	padding: 0;
 	list-style: none;
 	position: absolute;
 	height: 16px;
 	top: 75px;
 	left: 408px;


 }

 ul>li {
 	float: left;
 }

 li>a {
 	color: #fff;
 	display: block;
 	padding: 0 30px;
 	text-decoration: none;

 }

 li>a:hover {
 	text-decoration: underline;
 }

 h2 {
 	position: absolute;
 	height: 118px;
 	left: 660px;
 	top: 250px;
 	color: #fff;
 	font-size: 50px;

 }

 .text {
 	position: absolute;
 	width: 386px;
 	height: 50px;
 	left: 635px;
 	top: 350px;
 	color: #fff;
 	max-width: 300px;
 	margin: 0 auto;

 }

 .content {
 	width: 100%;
 	background-color: #eee;
 	background-size: 100%;
 	position: absolute;
 	left: -1px;
 	top: 600px;
 	height: 600px;
 	width: 1519px;
 	font-family: Arial, Helvetica, sans-serif;
 }

 .headline {
 	position: absolute;
 	left: 500px;
 	top: 50px;
 	color: #464547;
 	font-size: 48px;
 	line-height: 64px;
 	max-width: 670px;
 	margin: 0 auto;

 }

 .content p:nth-child(2) {
 	position: absolute;
 	left: 550px;
 	top: 200px;
 	color: #464547;
 	font-size: 24px;
 	line-height: 32px;
 	max-width: 429px;
 	margin: 0 auto;
 }

 .content p:nth-child(3) {
 	position: absolute;
 	width: 408px;
 	height: 172px;
 	left: 200px;
 	top: 330px;
 	color: #666;
 	font-size: 16px;
 	line-height: 22px;
 }

 .content p:nth-child(4) {
 	position: absolute;
 	width: 416px;
 	height: 172px;
 	left: 850px;
 	top: 330px;
 	color: #666;
 }

 .link {
 	display: inline-block;
 	box-shadow: 0 6px 40px gray;
 	line-height: 44px;
 	height: 44px;
 	padding: 0px 30px;
 	background-color: #55C2D8;
 	position: absolute;
 	top: 570px;
 	left: 635px;
 	border-radius: 24px;
 	font-family: Arial, Helvetica, sans-serif;
 	text-transform: uppercase;
 	letter-spacing: 2.8px;
 	color: #fff;
 	text-decoration: none;
 }

 .content>a:hover {
 	text-decoration: underline;
 }

 .content2 {
 	background: url('..//src/Polygon\ 1.png')725px 230px no-repeat, url('..//src/Ellipse\ 8.png') 685px 200px no-repeat, url('..//src/IMG_1334_72dpi_RGB_\ 1.png') 0 0/100% no-repeat;
 	width: 100%;
 	position: absolute;
 	width: 1519px;
 	height: 600px;
 	top: 1300px;
 	left: -1px;
 	font-family: Arial, Helvetica, sans-serif;
 }

 .content2>h3 {
 	position: absolute;
 	text-transform: uppercase;
 	left: 550px;
 	top: 100px;
 	color: #fff;
 	letter-spacing: 2.8px;
 }

 .content2>p {
 	position: absolute;
 	width: 351px;
 	height: 97.56px;
 	left: 550px;
 	top: 380px;
 	color: #fff;
 	letter-spacing: 1px;
 }

 .bottom {
 	background: url('..//src/Logo\ 1.png')65px 47px no-repeat;
 	width: 100%;
 	background-color: #464547;
 	position: absolute;
 	width: 1519px;
 	height: 199px;
 	left: 0px;
 	top: 1900px;
 	font-family: Arial, Helvetica, sans-serif;
 }

 .bottom>h3 {
 	position: absolute;
 	left: 100px;
 	top: 30px;
 	letter-spacing: 2.8px;
 	color: #fff;
 }

 .bottom>p {
 	position: absolute;
 	left: 362px;
 	top: 30px;
 	letter-spacing: 0.1px;
 	color: rgba(255, 255, 255, 0.4);
 	;
 }

 @media (max-width: 768px) {
 	.block {
 		width: 816px;
 		height: 1316px;
 	}
 }